:root {
    --color-dark: #1F2937;
    --color-grey: #E5E7EB;
    --color-white: #F9FAF8;
    --color-blue: #3882F6;
    --bold-text: 900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

header, .hero {
    background-color: var(--color-dark);
    width: 100vw;
    height: 100%;
    color: var(--color-white);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 192px 96px;
}

header p {
    font-size: 24px;
    color: var(--color-white);
    font-weight: var(--bold-text);
}

a {
    text-decoration: none;
    color: var(--color-grey);
}

header a, .hero p {
    font-size: 18px;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 192px 96px;
    gap: 32px;
}

h1 {
    font-size: 48px;
    font-weight: var(--bold-text);
}

.hero div p {
    margin: 32px 0 64px;
}

.image {
    width: 80%;
    border-radius: 16px;
    overflow: hidden;
}
img {
    width: 100%;
}

.btn {
    padding: 8px 24px;
    background-color: var(--color-blue);
    font-weight: var(--bold-text);
    border-radius: 6px;
}
.info-cards {
    padding: 48px 288px 96px;
}

.info-cards h2 {
    text-align: center;
    font-size: 36px;
    color: var(--color-dark);
    font-weight: var(--bold-text);
}

.info-cards-container {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.info-cards-container div {
    width: 20%;
}

.info-cards-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    border: 3px solid var(--color-dark);
}

.quote {
    background-color: var(--color-grey);
    color: var(--color-dark);
    padding: 192px 288px 192px;
}

.quote p {
    font-size: 32px;
    text-align: right;
}

p.quote-text  {
    text-align: left;
    font-size: 64px;
    font-style: italic;
    font-weight: 300;
}